<div class="container">
    <div style="text-align: center;">
        <h1>{{title}}</h1>
    </div>
    <div class="card" style="display: flex; justify-content: center;" >
        <h4 style="color:blue">{{message}}</h4>
        <div class ="form-group" *ngFor="let row of rows; let i =index">
        <div class="form-group">
            <label><b>Inventory detail: {{i+1}}:</b></label>
            <p><label style="display: inline-block; font-weight: bold;">Name:</label><input type="text" maxlength="20"  [(ngModel)]="row.itemname" style="display:inline-block; width:200px; margin-left: 10px;">
            <label style="display: inline-block;font-weight: bold;">Qty:</label><input type="number" max="100" [(ngModel)] = "row.itemqty" style="display: inline-block; width:50px; margin-left: 3px;"><i class="fa fa-window-close" style="color: red;margin-left: 2px;" (click)="deleterow(i,row)"></i></p>
        </div>
     </div> 
        <button type="submit" style="align-self: center; width: 100px;height: 15px;" (click)="newrow()">ADD</button>
        <button type="submit" style="align-self: center; width: 100px;height: 30px;" (click)="register()">REGISTER</button>
    </div>
    
